{% extends 'base.html' %}

{% block content %}
<div id="scheduled_messages" class="section">
    <h2>Відправка відкладених повідомлень</h2>

    <form id="scheduled-message-form" method="post" enctype="multipart/form-data" onsubmit="logFormSubmission(event)">
        {% csrf_token %}
        <label for="groups">Список груп:</label>
        <select id="groups" name="groups" multiple>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.group_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="message">Повідомлення:</label>
        <textarea id="message" name="message"></textarea>
        <br>
        <label for="image">Зображення:</label>
        <input type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)">
        <p>Попередній перегляд:</p>
        <img id="preview" src="" alt="Прев'ю зображення" style="max-width: 300px; display: none;">
        <br>
        <label for="send-time">Час відправки:</label>
        <input type="datetime-local" id="send-time" name="send_time">
        <br>
        <button type="submit">Запланувати повідомлення</button>
    </form>

    {% if message_state %}
    <p class="message-state">{{ message_state }}</p>
    {% endif %}

</div>
{% endblock %}